[data-md-color-scheme="default"] {
    --md-primary-fg-color: #c8a2c8;
    --md-primary-fg-color--light: #c8a2c8;
    --md-primary-fg-color--dark: #c8a2c8;
}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #b582b5;
    --md-primary-fg-color--light: #b582b5;
    --md-primary-fg-color--dark: #b582b5;
}
